<?xml version="1.0" encoding="utf-8"?>
<config>
    <version>1.0.8</version>
	<debug>0</debug>
	<load>1</load>
	<multiopen>10</multiopen>
	<!--<operation_com>2</operation_com>-->
	<operation_com>0</operation_com>
	<language>zh_CN</language>
	<resource_url>http://cdn.xyzml.752g.com</resource_url>
	<server_ip>119.29.229.30</server_ip>
	<server_id>1001</server_id>
	<server_port>8084</server_port>
	<sound_url/>
	<auto_login>1</auto_login>
	<open_charge>1</open_charge>
	<domain>www.752g.com</domain>
	<!--<domain>xy.66ye.com/login.html</domain>-->
  	<resource>hd</resource>
  	<region>config</region>
  	<game_id>cq</game_id>
  	<f></f>
</config>
